<header>
    <a href="{{ url_for('route_index') }}"><img src="{{ url_for('static', filename='logo.png') }}" class="w3-hover-opacity"></a>
    {% if not session.user_name %}
        <div class="log_in_form">
            <form action="{{ url_for('route_login') }}" method="post">
                <label for="user_name"></label>
                <input type="text" name="user_name" placeholder="User Name" required class="w3-pale-green log_in_input">
                <label for="pasword"></label>
                <input type="password" name="password" placeholder="Password" required class="w3-pale-green log_in_input">
                <input type="submit" value="Log in" class="w3-button w3-green w3-small">
            </form>
            Need an account? <a href="{{ url_for('route_registration') }}" class="w3-text-green w3-hover-text-dark-gray">Register now</a>
        </div>
    {% else %}
        <span class="log_in_form">Welcome {{ session['user_name'] }}!<br>
        <a href="{{ url_for('route_logout') }}" class="w3-text-green w3-hover-text-dark-gray">Logout</a></span>
    {% endif %}
    <div class="w3-bar w3-green w3-border w3-card-4">
        <a href="{{ url_for('route_index') }}" class="w3-bar-item w3-button w3-mobile">Home</a>
        <a href="{{ url_for('route_all_questions') }}" class="w3-bar-item w3-button w3-mobile">All Questions</a>
        {% if session.user_name %}
            <a href="{{ url_for('route_add_question') }}" class="w3-bar-item w3-button w3-mobile">Ask Question</a>
        {% endif %}
        <form action="{{ url_for('route_search') }}">
            <button type="submit" class="w3-bar-item w3-button w3-green w3-right">Go</button>
            <input type="text" name="search" class="w3-bar-item w3-input w3-right" placeholder="Search..">
        </form>
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</header>